---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ListSpent from '../components/ListSpent.astro';
---

<Layout>
    <Header />
    <main class="container mx-auto mt-8">
        <h1 class="text-2xl font-bold mb-6 text-center dark:text-white">Expense List</h1>
    <ListSpent />
    </main>
</Layout> 