---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AddSpent from '../components/AddSpent.astro';
---

<Layout>
    <Header />
    <main class="container mx-auto mt-8">
        <h1 class="text-2xl font-bold mb-6 text-center dark:text-white">Add New Expense</h1>
        <AddSpent />
    </main>
</Layout> 