---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import SpentList from '../components/SpentList.astro';
---

<Layout>
    <Header />
    <main class="container mx-auto mt-8">
        <h1 class="text-2xl font-bold mb-6 text-center dark:text-white">Expense List</h1>
    <SpentList />
    </main>
</Layout> 